body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: #0fd3da;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #00ffbf;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    color: #333;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.gender-options {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #00ffbf;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #05cae4;
}
.footer {
    text-align: right;
    margin-top: 20px;
}

.footer p {
    color: #333;
}